<div class="list row">
  <input
    type="text"
    class="form-control"
    placeholder="Get Dates From Title"
    [(ngModel)]="website"
  />
  <button
    type="button"
    (click) = "setDates()"
    >Find Dates
  </button>
  <div class="col-md-6">
    <h4>Tutorials List</h4>
    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="baseDate">
        <mat-option>None</mat-option>
        <mat-option *ngFor="date of dates">{{date}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
