<div class="list row">
  <input
    type="text"
    class="form-control"
    placeholder="Get Dates From Title"
    [(ngModel)]="website"
  />
  <button
    type="button"
    (click) = "setDates()"
    >Find Dates
  </button>
  <button
    type="button"
    (click) = "reset()"
  >Reset
  </button>

  <p *ngIf="dates==null">
    Enter New Link
  </p>
  <div class="col-md-6">
    <div>
      <h4>Pick Date to Compare</h4>
      <select [(ngModel)]="date1">
        <option [value]="null">None</option>
        <option *ngFor="let date of dates" [value]="date">{{date}}</option>
      </select>

      <button
        type="button"
        (click) = "getChanges()"
      >Get Compared Document
      </button>
    </div>
    <div *ngIf="date1 == null"
         class="alert alert-danger">
      <div *ngIf="date1==null">
        Pick Date 1
      </div>
    </div>


    <div>
      <select [(ngModel)]="date2">
        <option [value]="null">None</option>
        <option *ngFor="let date of dates" [value]="date">{{date}}</option>
      </select>
      <button
        type="button"
        (click) = "getComparison()"
      >Compare 2 Documents
      </button>
      <div *ngIf="date2 == null"
           class="alert alert-danger">
        <div *ngIf="date2==null">
          Pick Date 2
        </div>
      </div>


    </div>
  </div>

  <div *ngIf="!activated">
    <h1>Testing</h1>
  </div>

  <iframe *ngIf="activated && !double" width="100%" height="768" [src]="this.getDate1() | safe">
  </iframe>


  <iframe *ngIf="activated && double" width="50%" [src]="this.getDate2() | safe">
  </iframe>

  <div class="box">
    <iframe [src]="this.getDate1() | safe" frameborder="0" width="100%" height="768" align="left">
    </iframe>
  </div>

  <div class="box">
    <iframe [src]="this.getDate2() | safe" frameborder="0" width="100%" height="768" align="right">

    </iframe>
  </div>

</div>
